.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 20px;
}
